.cards.icon.block {
  display: grid;
  gap: 24px;
}

.cards.icon.block .row {
  display: grid;
  gap: 24px;
}


.cards.icon.block .card {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0 0 0 / 20%);
  border-radius: 10px;
}

.cards.icon.block .card span.icon {
  display: inline-block;
  height: 43px;
  width: 43px;
}

.cards.icon.block .card span.icon svg {
  position: relative;
  height: 100%;
  width: 100%;
}

.cards.icon.block .card h3 {
  margin-bottom: 1em;
  font-size: var(--heading-font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
}

@media screen and (min-width: 900px) {
  .cards.icon.block .row {
    grid-template-columns: repeat(2, 1fr);
  }

  main .section[data-layout] .cards.icon.block .row {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .cards.icon.block.cols-3 .row,
  main .section[data-layout] .cards.icon.block .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
