.cards.product.block {
  display: grid;
  grid-template-columns: 1fr;
}

.cards.product.block > .card {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 1em;
  gap: 1em;
  border-color:var(--brand-border);
  border: 1px solid;
}
.cards.product.block .card:nth-child(even) {
  background-color:var(--brand-secondary-subtle);
}
.cards.product.block .card img {
  width: 100%;
  object-fit: contain;
}

.cards.product.block .card .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.cards.product.block .card .details .button-container{
  align-self: flex-end;
}

.cards.product.block .card .details .button-container > a {
  background-color: unset;
}

.cards.product.block .card .details .icon.icon-download-button,.icon.icon-jump_link {
  display: block;
  width: 35px;
  height: 35px;
}
.cards.product.block .card .details .icon.icon-jump_link {
  display: block;
  width: 35px;
  height: 35px;
}

.cards.product.block .card .details .icon.icon-download-button > svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .cards.product.block {
    grid-template-columns: 1fr;
  }
}