.header.block nav {
  display: grid;
  grid-template:
    "logo . hamburger" 75px
    "sections sections sections" min-content
    "contact-us contact-us contact-us" min-content
    / min-content 1fr min-content;
  padding: 20px;
  align-items: center;
  background-color: var(--white);
}

.header.block nav a {
  text-decoration: none;
  color: var(--quartz);
  font-weight: bold;
}

.header.block.nav-logo {
  grid-area: logo;
}

.header.block .nav-logo img {
  padding: 15px 0;
  height: auto;
  width: 105px;
}

.header.block .nav-hamburger {
  grid-area: hamburger;
  overflow: hidden;
}

.header.block .nav-hamburger .nav-hamburger-icon {
  background-color: transparent;
  cursor: pointer;
}

.header.block .nav-hamburger .icon {
  height: 25px;
  width: 25px;
}

.header.block nav[aria-expanded="false"] .nav-hamburger .icon.icon-hamburger,
.header.block nav[aria-expanded="true"] .nav-hamburger .icon.icon-close {
  display: block;
}

.header.block nav[aria-expanded="false"] .nav-hamburger .icon.icon-close,
.header.block nav[aria-expanded="true"] .nav-hamburger .icon.icon-hamburger {
  display: none;
}

.header.block .nav-hamburger .icon svg {
  height: 100%;
  width: 100%;
}

.header.block .nav-contact-us > p {
  margin: 0;
}

.header.block .nav-contact-us > p > a {
  display: inline-block;
  padding: 8px 42px;
  font-weight: normal;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-red);
  border-bottom-left-radius: 20px;
  white-space: nowrap;
}

.header.block nav .nav-sections {
  display: none;
}

.header.block nav[aria-expanded="true"] .nav-sections {
  grid-area: sections;
  display: block;
}

.header.block .nav-sections > ul {
  display: flex;
  padding: 20px 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.header.block .nav-sections > ul > li > ul {
  display: none;
}

.header.block .nav-sections > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray);
}

.header.block .nav-sections > ul > li.nav-drop > a.active-arrow-down::after {
  background-image: url('images/down-arrow.png');
}

.header.block .nav-sections > ul > li.nav-drop > a > .icon {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
}

.header.block .nav-sections > ul > li.nav-drop .icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header.block .nav-sections > ul > li.nav-drop > a > span {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0);
}

.header.block .nav-sections > ul > li.nav-drop[aria-expanded="true"] > a > span {
  transform: rotate(180deg);
}

.header.block .nav-sections > ul > li.nav-drop[aria-expanded="true"] > ul {
  display: block;
}

.header.block .nav-sections > ul > li > ul > li > a {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px 0;
}

.header.block .nav-sections > ul > li > ul > li.active > a {
  text-decoration: underline;
}

.header.block nav .nav-contact-us {
  display: none;
}

.header.block nav[aria-expanded="true"] .nav-contact-us {
  grid-area: contact-us;
  display: flex;
  justify-content: center;
}



@media (min-width: 900px) {
  .header.block nav {
    grid-template:
      "logo sections contact-us" 75px
      ". . hamburger" min-content
      / min-content 1fr min-content;
      padding: 20px 90px;
  }

  .header.block .nav-hamburger {
    display: none;
  }

  .header.block .nav-sections {
    display: flex;
    justify-content: center;
  }

  .header.block .nav-sections > ul {
    flex-direction: row;
    width: 100%;
  }

  .header.block .nav-sections > ul > li > a {
    padding: 0;
    border-bottom: none;
  }

  .header.block .nav-sections > ul > li.nav-drop > a > .icon {
    display: none;
  }

  .header.block .nav-sections > ul > li.nav-drop[aria-expanded="true"] > ul {
    position: absolute;
    left: 0;
    width: 100vw;
    display: flex;
    opacity: 1;
    background-color: var(--gray-neutral-80);
    top: 86px;
    justify-content: space-evenly;
  }

  .header.block .nav-sections > ul > li > ul > li.active > a {
    border-bottom: 5px solid var(--white);
  }

  .header.block .nav-sections > ul > li.nav-drop[aria-expanded="true"] > ul > li > a {
    padding: 10px 0;
    color: var(--gray);
  }

}
