.hero.block.default h1 {
  color: var(--brand-text);
  padding-bottom:16px;
  font-size: var(--heading-font-size-h1);
}

.hero.block.default h1 em {
  color: var(--brand-primary-subtle);
  font-weight: var(--font-weight-regular);
}

.hero.block.default .image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.hero.block.default .image picture {
  display: block;
  position: relative;
  height: 100%;
}

.hero.block.default .image picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  object-fit: cover;
  object-position: center center;
}

.hero.block.default .content-wrapper {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  margin: 0 20px;
}

.hero.block.default .content-wrapper .button-container {
  text-align: center;
}

.hero.block.default .content-wrapper .button-container span.icon {
  position: relative;
  top: 10px;
  left: 10px;
}

.hero.block.default .content-wrapper .content {
  background-color: var(--brand-white);
  border-left: 10px solid var(--brand-secondary);
  padding: 48px 36px 32px 40px;
  margin-bottom: 0;
}

.hero.block.default .content-wrapper.no-image .content {
  max-width: unset;
}

.hero.block.default.red .content-wrapper .content h1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: var(--brand-secondary-subtle);
}

.hero.block.default.red .content-wrapper.no-image .content h1 {
  margin-bottom: 1em;
}

.hero.block.default .content-wrapper .content h1 span.icon {
  height: 30px;
}

.hero.block.default .content-wrapper .content h1 span svg {
  height: 100%;
}

.hero.block.default.red .content-wrapper .content h2 {
  margin-bottom: 1em;
  font-size: var(--heading-font-size-xxs);
  font-weight: var(--font-weight-semibold);
  color: var(--quartz);
}

.hero.block.default .content-wrapper .content p {
  font-size: var(--body-font-size-body-large);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-s);
  color: var(--gray-neutral-70);
  text-align: left;
}

.hero.block.default .content-wrapper.no-image .content p {
  margin-bottom: 1em;
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-m);
  color: var(--quartz);
}

.hero.block.default.light-image .content-wrapper .content p {
  color: var(--quartz);
}

@media screen and (min-width: 600px) {
  .hero.block.default .content-wrapper {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .hero.block.default .content-wrapper {
    padding: 80px 0;
    max-width: 800px;
  }

  .hero.block.default .content-wrapper .content {
    max-width: 650px;
    margin-bottom: 32px;
  }

  .hero.block.default .content-wrapper.no-image .content h2 {
    font-size: var(--heading-font-size-xs);
  }


  .hero.block.default .content-wrapper .content h1 span.icon {
    height: 35px;
  }

  .hero.block.default .content-wrapper .content p {
    font-size: var(--body-font-size-body-large);
    text-align:left;
  }

  .hero.block.default .content-wrapper .content p:nth-of-type(1) {
    display: none;
  }

  .hero.block.default .content-wrapper.no-image .content p {
    font-size: var(--body-font-size-body-large);
  }

  .hero.block.default .content-wrapper .button-container {
    text-align: left;
  }

}

@media screen and (min-width: 1200px) {
  .hero.block.default .content-wrapper {
    padding: 120px 0;
    max-width: 980px;
  }
}

@media screen and (min-width: 1280px) {
  .hero.block.default .content-wrapper {
    max-width: var(--normal-page-width);
    padding: 120px 0;
    margin: -64px auto 0;
  }
}

@media screen and (min-width: 1600px) {
  .hero.block.default .content-wrapper {
    padding: 160px 0;
    max-width: var(--normal-page-width);
    margin: -96px auto 0;
  }
}