.section.calendar-events > .default-content-wrapper > h1 {

    font-weight: 200;
    text-align: center;
}

.calendar-events.block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 28px;
    margin: 0 auto;
}

.calendar-events.block .calendar-event {
    border-bottom: solid 1px var(--brand-secondary-subtle);
    background-color: #EDF2F4;
    width: 100%;
}

.calendar-events.block .calendar-event > .event-card {
    padding: 20px 26px;

}

.calendar-events.block .calendar-event > .event-card p:first-of-type {
    color: var(--gray);
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
    line-height: 14px;
    margin: 0;
}

.calendar-events.block .calendar-event > .event-card p:nth-of-type(2) {
    color: var(--black);
    font-size: var(--body-font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: 22px;
    margin-bottom: 10px;
}

.calendar-events.block .calendar-event > .event-card > div:first-of-type {
    margin-bottom: 10px;
}

.calendar-events.block .calendar-event > .event-card > div:nth-of-type(2) {
    color: var(--default-text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-xs);
    line-height: 17px;
}

.calendar-events.block .calendar-event > .date-card,.date-card-poster,.date-card-oral,.date-card-abstract {
    display: grid;
    grid-template-columns: 236px auto;
    padding: 20px;
}

.calendar-events.block .calendar-event  [class^="date-card"]   div:first-of-type {
    background: var(--brand-primary-subtle);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    margin: 0 24px 0 0;
    padding: 8px;
    border: 1px solid var(--brand-Border-Subtle);
    background: var(--brand-white);

}
.calendar-events.block .calendar-event > .date-card-poster  > div:first-of-type {
    background: var(--brand-primary-subtle);
}

.calendar-events.block .calendar-event > .date-card-abstract  > div:first-of-type {
    background: var(--brand-primary-strong);
}

.calendar-events.block .calendar-event > .date-card-oral  > div:first-of-type {
    background: var(--brand-secondary);
}

.calendar-events.block .calendar-event > .date-card  > div:first-of-type > h3,
.calendar-events.block .calendar-event > .date-card  > div:first-of-type > p {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    line-height: 22px;
    margin: 0;
}

.calendar-events.block .calendar-event > .date-card  > div:first-of-type > h3 {
    font-size: var(--body-font-size-xxl);
}

.calendar-events.block .calendar-event > .date-card  > div:first-of-type > p {
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
}

.calendar-events.block .calendar-event > .date-card-oral  > div:first-of-type > p {
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: unset;
}

.calendar-events.block .calendar-event > .date-card-abstract  > div:first-of-type > p {
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: unset;
}

.calendar-events.block .calendar-event > .date-card-poster  > div:first-of-type > p {
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: unset;
}

.calendar-events.block .calendar-event  [class^="date-card"]  div:nth-of-type(2) {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 16px;

}

.calendar-events.block .calendar-event [class^="date-card"]  div:nth-of-type(2) > p {
    font-size: var(--body-font-size-m);
    margin-bottom: unset;
}

@media screen and (min-width: 900px){
    .calendar-events.block .calendar-event > .event-card p:first-of-type {
        font-size: var(--body-font-size-l);
        line-height: 21px;
    }

    .calendar-events.block .calendar-event > .event-card p:nth-of-type(2) {
        font-size: var(--body-font-size-xxl);
        line-height: 30px;
    }

    .calendar-events.block .calendar-event > .event-card > div:nth-of-type(2) {
        font-size: var(--body-font-size-l);
        line-height: 23px;
    }
}

@media screen and (min-width: 1200px){
    .calendar-events.block .calendar-event > .event-card p:first-of-type {
        font-size: var(--body-font-size-s);
        line-height: 14px;
    }

    .calendar-events.block .calendar-event > .event-card p:nth-of-type(2) {
        font-size: var(--body-font-size-m);
        line-height: 22px;
    }

    .calendar-events.block .calendar-event > .event-card > div:nth-of-type(2) {
        font-size: var(--body-font-size-xs);
        line-height: 17px;
    }
}
