footer {
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: var(--bright-gray);
}


footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer.block a {
  color: inherit;
}

.footer.block p > picture {
  display: inline-block;
  position: relative;
  height: 36px;
  width: auto;
}

.footer.block > div > div > p {
  font-size: var(--body-font-size-xxs);
  margin-bottom: 14px;
}
