
.toc ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    width: 100%;
    background-color: var(--gray-neutral-80);
}

.toc ul li {
    padding: 5px 1rem;
}

.toc ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-normal);
    color: var(--white);
    text-decoration: none;
}
