
/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
    font-family: "Gothum Fallback";
    font-style: normal;
    font-weight: 400;
    size-adjust: 117.99%;
    src: local("Arial");
}
/* Fonts */
{
--font-family-gotham: 'Gotham', 'Gotham Fallback', 'Arial', sans-serif;
--body-font-family: var(--font-family-gotham);
--heading-font-family: var(--font-family-gotham);
}
:root {

    --brand-primary: #dd305d;
    --brand-secondary: #2cd5c4;
    --brand-critical: #2cd5c4;
}

main button,
p.button-container a {
    border-radius: var( --radius-largest);
    background: #ef426f;
}

.header nav .nav-contact-us>p>a {
    border-bottom-left-radius: var( --radius-largest)!important;
}

.header nav .nav-logo img {
    padding: 15px 0;
    height: auto;
    width: 200px;
}

main .section.content-bump-out .default-content-wrapper p:first-of-type {
    color: var(--brand-secondary);
}